.chart {
  // -webkit-box-shadow: -2px 3px 3px 0px rgba(0,0,0,0.5); 
  // box-shadow: -2px 3px 3px 0px rgba(0,0,0,0.5);
  padding: 10px;
  color: gray;
  // width: 1000px;
  width: 80%;
  // height: 100% ;
  margin: auto;

  .title {
    margin-bottom: 20px;
    color: white;
    font-weight: 700;
    font-size: larger;
  }

  // .chartGrid {
  //   stroke: rgb(228, 225, 225);
  // }
}
