.chart {
  -webkit-box-shadow: -2px 3px 3px 0px rgba(0,0,0,0.5); 
  box-shadow: -2px 3px 3px 0px rgba(0,0,0,0.5);
  padding: 10px;
  color: gray;

  .title {
    margin-bottom: 20px;
    color: white;
    font-weight: 700;
    font-size: larger;
  }

  // .chartGrid {
  //   stroke: rgb(228, 225, 225);
  // }
}
