.logout-scene {
    background-color:#424549;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // h1 {
    //     font-size: 3rem;
    // }
}