.navbar {
  height: 80px;
  border: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  background-color: #36393e;
  top: 0;
  left: 0;
  position: sticky;
  width: 100%;
  z-index: 6;
  .wrapper {
    width: 100%;
    // padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    // gap: 100px;
    .left {
      display: flex;
      width: 100%;
      // justify-content: space-between;
      // gap: 60px;
      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;
        font-size: 20px;
        width: fit-content;
        border-radius: 10px;
        background-color: aliceblue;
        input {
          height: 30px;
          width: 100%;
          font-size: 16px;
          outline: none;
          background-color: aliceblue;
          // border-bottom: 0.5px solid grey;
        }
        .icon {
          // background-color: aliceblue;
          padding-right: 5px;
          font-size: 30px;
          cursor: pointer;
        }
      }
    }
    .middle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      // gap: 60px;
      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;
        font-size: 20px;
        // width: fit-content;
        height: fit-content;
        border-radius: 30px;
        background-color: white;
        width: 100%;
        input {
          height: 40px;
          width: 100%;
          margin: 1px 1px 1px 0;
          padding-left: 1.5rem;
          font-size: 1.25rem;
          outline: none;
          background-color: #36393e;
          border-radius: 30px 0px 0px 30px;
          color: white;
          // border-bottom: 0.5px solid grey;
        }
        .icon {
          // background-color: aliceblue;
          margin-left: 35px;
          margin-right: 35px;
          font-size: 30px;
          cursor: pointer;
          color: white;
        }
      }
    }
    .right {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      gap: 30px;
      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;
        font-size: 20px;
        input {
          // background-color: rgb(181, 181, 181);
          height: 30px;
          width: 200px;
          font-size: 20px;
          outline: none;
          border-bottom: 0.5px solid grey;
        }
        .icon {
          font-size: 30px;
          cursor: pointer;
          color: white;
        }

        .avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
    }
    // .search {
    //   display: flex;
    //   align-items: center;
    //   border: 0.5px solid lightgray;
    //   padding: 3px;

    //   input {
    //     border: none;
    //     outline: none;
    //     background: transparent;

    //     &::placeholder {
    //       font-size: 12px;
    //     }
    //   }
    // }
  }
}
