.new {
  // width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  .newContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    .top {
      display: flex;
      justify-content: center;
      h1 {
        text-align: center;
        font-size: 30px;
      }
    }
    .bottom {
      // -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      // box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      // padding: 10px;
      // margin: 20px;
      // display: flex;

      form {
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-around;

        .formInput {
          width: 40%;

          label {
            display: flex;
            align-items: center;
            gap: 10px;

            .icon {
              cursor: pointer;
            }
          }

          input {
            width: 100%;
            padding: 5px;
            border: none;
            border-bottom: 1px solid gray;
          }
          button {
            width: 150px;
            padding: 10px;
            border: none;
            background-color: teal;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
          }
        }
      }
    }
    .link {
      display: flex;
      padding-top: 30px;
      justify-content: center;
      font-size: 20px;
    }
  }
}
